<div class="row">
    <div class="col-1"></div>
    <div class="col-4" id="calc">
        <h1>Simple calculator</h1>Child-component<br><br><br>
        Number1:<input type=number [(ngModel)]="number1" id="x"><br><br>
        Number2:<input type=number [(ngModel)]="number2" id="y"><br><br>
        
        <button (click)="Add()">ADD</button>
        <button (click)="Sub()">SUB</button>
        <button (click)="Mul()">MUL</button>
        <button (click)="Div()">DIV</button>

    </div>
    <div class="col-2"></div>
    <div class="col-2" id="res">
        <app-result [result] = "result">loading ... </app-result>
    </div>
</div>