#calc {
    background-color: black;
    color: white;
    border: 2px solid white;

    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#x, #y{
    color: black;
    margin-left: 20px;
}

button {
    color: black;
    margin-left: 20px;
}

#res {
    background-color: black;
    color: white;
    border: 2px solid white;

    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}